/* font-family */

@font-face {
  font-family: 'MullerBold';
  src: url('/fonts/MullerBold.woff2') format('woff2'),
    url('/fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('/fonts/MullerLight.woff2') format('woff2'),
    url('/fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url('/fonts/MullerMedium.woff2') format('woff2'),
    url('/fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('/fonts/MullerRegular.woff2') format('woff2'),
    url('/fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* Common style */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Muller';
  font-weight: 400;
  background: #f1f1f1;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  color: #666666;
  margin: 30px 0 30px;
}

button {
  background: #cc9933;
  color: white;
}

.section-header-2 {
  font-size: 40px;
  margin-left: 40px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 20px;
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Header */

.container {
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.header__left-side {
  display: flex;
  align-items: center;
}

.header__phone {
  color: #666666;
  font-size: 22px;
  margin-left: 25px;
  font-weight: 32px;
  line-height: 1;
}

.header__right-side-link {
  color: #cc9933;
  font-size: 16px;
  font-weight: 32px;
  line-height: 1;
}

/* Navigation */

.section-nav {
  display: flex;
  background-color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  min-width: 100%;
  margin-top: 30px;
}

.section-nav__list {
  display: flex;
  min-width: 670px;
  justify-content: space-between;
}

.section-nav__item {
  margin-left: 20px;
  color: #4e4e4e;

}

.section-nav__link:visited {
  color: #4e4e4e;
}

.section-nav__link {
  font-size: 16px;
  font-weight: 32px;
  line-height: 1;
}



.section-nav__search {
  position: relative;
  min-width: 350px;
  max-height: 50px;
}

.section-nav__search input:focus {
  outline: none;
}

.section-nav__search input {
  width: 300px;
  height: 100%;
  padding-left: 10px;
  border-radius: 25px;
  border: none;
  color: #d8d8d8;
}

.section-nav__search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 45px;
  width: 30px;
  height: 30px; 

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* Booking */
.section-booking {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
}

.section-booking__left-side {
  min-width: 520px;
  min-height: 600px;
  justify-content: start;
  align-items: flex-start;
}

.section-booking__header {
  margin: 0 0 25px 40px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
}

.section-booking__input-form {
  display: flex;
  flex-direction: column;
}

.btn-find-room-suggestion {
  color: #cc9933;
}

.btn-find-room-suggestion:visited {
  color: #cc9933;
}

.section-booking__input input {
  margin-bottom: 25px;
  min-height: 70px;
  border-radius: 12px;
  border: none;
  color: #666666;
  padding-left: 25px;
}

.section-booking__input input:focus {
  outline: none;
}

.section-booking__btn-find-room {
  min-width: 150px;
  min-height: 70px;
  border-radius: 12px;
  border: none;
  margin-right: 30px;
  outline: none;
}

.section-booking__btn-find-room a {
  color: white;
}

.section-booking__right-side {
  min-width: 600px;
  background: url(/img/special-proposal.png);
  background-repeat: no-repeat;
  background-position: top 80px left 0;
  opacity: 0.975;
}

.section-booking__right-side-header {
  color: white;
  font-size: 66px;
  max-width: 400px;
  font-weight: 400;
  margin: 270px 0 0 45px;
  line-height: 1em;
}

.section-booking__right-side-text {
  font-weight: 32px;
  font-size: 35px;
  color: #aca6a4;
  margin: 40px 0 40px 40px;
}

.section-booking__right-side-text-a {
  color: #cc9933;
  font-size: 16px;
  margin-left: 70px;
}

.section-booking__right-side-text-a svg {
  margin-left: 5px;
  transform: translateY(3px);
}

/* About us */

.section-about-us {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.section-about-us__header-2 {
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  margin: 0 0 0 40px;
}

.section-about-us__p {
  margin-top: 25px;
  margin-right: 240px;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-block-end: 0;
}

/* Services */

.section-services {
  margin-top: 90px;
}

.section-services__header {
  margin-bottom: 30px;
}

.section-services__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.section-services__item {
  background: white;
  width: 572px;
  border-radius: 12px;
  min-height: 320px;
  overflow: hidden;
  display: block;
  padding-top: 190px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 25px;
}

.section-services__item-link {
  color: #cc9933;
  font-size: 22px;
  line-height: 32px;
  margin-right: 45px;
}

.section-services__item p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 375px;
}

.section-services__item-link svg {
  transform: translateY(2px);
  stroke: black;
}

.section-services__item:nth-child(odd) {
  margin-right: 25px;
}

.services-img-shampagne-glasses {
  background-image: url(/img/services-img-shampagne-glasses.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.services-img-pool {
  background-image: url(/img/services-img-pool.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.services-img-kithcen {
  background-image: url(/img/services-img-kithcen.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.services-img-rent-cars {
  background-image: url(/img/services-img-rent-cars.png);
  background-repeat: no-repeat;
  background-position: top left;
}

/* Advantage */
.section-advantage {
  margin-top: 45px;
}


.section-advantage__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.section-advantage__item{
  width: 277px;
  background: white;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  padding-left: 45px;
  color: #333333;
  border-radius: 12px;
  margin-bottom: 20px;
}

.section-advantage__item:not(:nth-child(4n)) {
  margin-right: 20px;
}


.section-advantage__item svg {
  margin-top: 40px;
  margin-bottom: 10px;
}

.section-advantage__item p {
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}

/* placement */

.section-placement {
  margin-top: 40px;
}

.section-placement__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.section-placement__item {
  min-width: 32%;
  background-color: white;
  min-height: 440px;
  border-radius: 12px;
  display: block;
  margin-bottom: 20px;
}

.section-placement__item span {
  font-size: 22px;
  color: #333333;
}

.section-placement__item b {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}

.section-placement__item button {
  background: white;
  color: #cc9933;
  padding: 15px 25px;
  border-radius: 12px;
  border: #cc9933 solid 1px;
  margin-left: 45px;
  font-weight: bold;
}

.placement-item-hotel_btn:focus {
  outline: none;
}

.placement-hotel-links-number:visited {
  background: white;
  color: #cc9933;
  font-weight: bold;
}

.section-placement__item {
  contain: 100%;
}

.placement-hotel-links_all_options {
  color: white;
}

.section-placement__item-price {
  margin-top: 25px;
  margin-left: 45px;
}

.section-placement__item-hotel {
  margin-left: 45px;
}

.placement-9 {
  background-image: url(/img/placement-9.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  text-align: center;
  padding-top: 370px;
}

.section-placement__link-all-options {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.section-placement__link-all-options svg {
  margin-left: 10px;
  transform: translateY(3px);
}

/* Contacts */
.section-contacts {
  margin-top: 40px;
}

.section-contacts__header {
  margin-bottom: 30px;
}

.section-contacts__form-and-info {
  background: #ffffff;
  padding: 45px;
  display: flex;
  border-radius: 12px;
}

.section-contacts__left-side {
  max-width: 400px;
  margin-right: 60px;
}

.section-contacts__left-side-data {
  display: flex;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 35px;
  color: #a1a1a1;
}

.section-contacts__left-side-data:not(:first-child) {
  padding-top: 35px;
}

.section-contacts__left-side-data-header {
  margin-block-end: 0;
  margin-block-start: 0;
  min-width: 145px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  color: #666666;
}

.section-contacts__left-side-data-description {
  padding-right: 40px;
  max-width: 245px;
  font-size: 16px;
  line-height: 24px;
}

.section-contacts__left-side-data-description p {
  margin-block-end: 0;
  margin-block-start: 0;
  color: #333333;
}

.section-contacts__left-side-data-description a {
  color: #cc9933;
}

.section-contacts__left-side-btn {
  margin-top: 45px;
  background: white;
  color: #cc9933;
  padding: 15px 25px;
  border-radius: 12px;
  border: #cc9933 1px solid;
  font-weight: 400;
  font-weight: bold;
}

.section-contacts__left-side-btn:focus {
  outline: none;
}
.section-contacts__link:visited {
  color: #cc9933;
}

.section-contacts__left-side-btn {
  width: 213px;
  height: 70px;
}
.section-contacts__right-side {
  max-width: 630px;
}

.section-contacts__right-side-header {
  font-size: 40px;
  line-height: 32px;
  font-weight: normal;
  color: #333333;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-contacts__form {
  margin-top: 35px;
}

.input {
  width: 300px;
  background: #f1f1f1;
  color: #a5a5a5;
  border: none;
  border-radius: 12px;
  padding: 30px 20px;
  outline: none;
}

.input:first-child {
  margin-right: 23px;
}

.textarea {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 630px;
  height: 219px;
  background: #f1f1f1;
  color: #a5a5a5;
  border: none;
  border-radius: 12px;
  padding: 30px 20px;
  outline: none;
  resize: none;
}

.section-contacts__right-side-btn {
  margin-top: 60px;
  min-width: 325px;
  min-height: 70px;
  border-radius: 12px;
  border: none;
  margin-right: 30px;
}

.section-contacts__right-side-btn:focus {
  outline: none;
}

.section-contacts__right-side a{
  color: #cc9933;
}

.section-contacts__right-side:visited {
  color: #cc9933;
}
/* footer */

.footer {
  display: flex;
  margin-top: 25px;
  background-color: #333333;
  color: #ffffff;
  padding: 50px;
  border-radius: 12px;
  background: url(/img/footer-background.png) no-repeat #333333 right 170px bottom 0px;
  min-height: 340px;
  font-size: 16px;
  line-height: 32px;
}

.footer p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

.footer a {
  color: #cc9933;
}

.footer a:visited {
  color: #cc9933;
}

.footer__left-side {
  max-width: 290px;
  margin-right: 125px;
  width: 300px;
}

.footer__right-side address {
  margin-bottom: 40px;
  font-weight: normal;
  font-style: normal;
}

.footer__right-side-mail {
  margin-top: 30px;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.footer__social-media-links {
  margin-bottom: 20px;
}